# Django Settings
DJANGO_SECRET_KEY=your-secret-key-change-in-production
DEBUG=True
DB_NAME=test
COLLECTION_NAME=posts
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/blog_db?retryWrites=true&w=majority